.errorMessageBase {
	color: red;
	font-size: 0.8rem;
	margin-top: 0.25rem;
	&.critical {
		background-color: red;
		color: white;
		font-weight: bold;
		@media (prefers-color-scheme: dark) {
			background-color: darkred;
			color: wheat;
		}
	}
	&.warning {
		font-style: italic;
		background-color: yellow;
		color: black;
		@media (prefers-color-scheme: dark) {
			background-color: darkorange;
			color: white;
		}
	}
}
