.errorMessageBase {
	color: var(--ry-error);
	font-size: 0.8rem;
	margin-top: 0.25rem;
	&.critical {
		background-color: var(--ry-error);
		color: var(--ry-primary);
		font-weight: bold;
	}
	&.warning {
		font-style: italic;
		background-color: var(--ry-warning);
		color: var(--ry-primary);
	}
}
